---
import { getCollection, getEntry } from 'astro:content';
import RootLayout from '@layouts/RootLayout.astro';
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import I from '@components/I.astro';
dayjs.extend(relativeTime);

type Props = {
  title: string;
}

const { title } = Astro.params;
const entry = await getEntry('blog', title);

// TODO Redirect to 404 page
if (!entry) {
  throw new Error(`Blog post with title "${title}" not found`);
}

const { Content, headings } = await entry.render();

// Define getStaticPaths to generate paths for all blog posts
export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');
  return blogPosts.map(post => ({
    params: { title: post.slug },
  }));
}
---

<RootLayout title={entry.data.title}>
  <main class="flex flex-col min-h-screen">
    <article class="grow">
      <header>
        <h1>{entry.data.title}</h1>
        <p>{entry.data.description} <I>Written {dayjs(entry.data.date).toNow(true)} ago.</I></p>
      </header>
      <section>
        <Content />
      </section>
    </article>
    <footer class="mt-[33vh] text-center pb-md">
      <p>[Blank Space]</p>
      <hr class="pb-md">
      maybelucas.com {new Date(entry.data.date).getFullYear()}
    </footer>
  </main>
</RootLayout>
