---
interface TwoColumnItem {
  left: string;
  right: string;
  subtitle?: string;
  url?: string;
}

interface Props {
  items: TwoColumnItem[];
}

const { items } = Astro.props;
---

<div class="w-full">
  {
    items.map((item) => (
      <div class="flex gap-4 py-3 md:gap-8 md:py-2">
        <div class="min-w-[100px] md:min-w-[120px]">
          {item.url ? (
            <a
              href={item.url}
              class="text-blue-500 hover:underline py-md"
              target="_blank"
              rel="noopener noreferrer"
            >
              {item.left}
            </a>
          ) : (
            <span>{item.left}</span>
          )}
        </div>
        <div class="flex flex-1 flex-col gap-xs">
          <span set:html={item.right} />
          {item.subtitle ? (
            <span
              class="text-sm font-normal leading-snug text-shark-600 dark:text-shark-300"
              set:html={item.subtitle}
            />
          ) : null}
        </div>
      </div>
    ))
  }
</div>
