---
import type { MDXLayoutProps } from "astro"
import RootLayout from "./RootLayout.astro";

type Props = MDXLayoutProps<{
	title: string;
	author: string;
	date: string;
}>

const { frontmatter } = Astro.props;
---
<RootLayout title={frontmatter.title}>
	<main>
		<h1>{frontmatter.title} by {frontmatter.author}</h1>
		<slot />
		<hr>
		<footer>
			Written by {frontmatter.author} {frontmatter.date}.
		</footer>
	</main>
</RootLayout>